*~
*.fasl
semantic.cache
fasl
*.so
*.fas
*.lib
*.o
*.flc
*.x86f
test-results/
ASDF/*
external/*
run-emacs.sh
BrentWork
.ditz-config
Doc/*/*.pdf
Doc/*/*.aux
Doc/*/*.dvi
Doc/*/*.nav
Doc/*/*.out
Doc/*/*.snm
Doc/*/*.toc
Doc/*/*.log
Doc/*/*.vrb
